:root{
  --bgcol         : rgb(3, 53, 53);
  --activecol     : rgb(12, 146, 19);
  --passivecol    : rgb(94, 86, 86);
  --bordcol       : rgb(13, 16, 68);
  --bordrad       :   20px;
  --boxcol        : rgb(255, 255, 255);
}
*{
    margin: 0px;
    padding: 0px;
    transition-duration: 1000ms;
    font-family: 'Segoe UI';
    box-sizing: border-box;
    overscroll-behavior: none;
}
body{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center   ;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--bgcol);
}
#gamebox{
    display: flex;
    flex-direction: row;
    width:clamp(390px,45vw,660px);
    aspect-ratio: 1/1;
    border-radius:var(--bordrad);
    background-color:var(--bordcol);
    justify-content: space-evenly;
    align-items:center;
}
.row{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}
#gamebar,#playername{
     display: flex;
     flex-direction: row;
     background-color:var(--bordcol);
     border-radius:var(--bordrad);
     width: clamp(400px,45vw,660px);
     justify-content: space-evenly;
     align-items: center;
     padding: 10px;
     font-size: 1rem;
     color: #ffffff;
}
.box{
    width: clamp(110px,11vw,200px);
    aspect-ratio: 1/1;
    background-color:var(--boxcol);
    font-size: 5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:var(--bordrad);
}
.playeritem,#reset,#alertbtn{
    width: 25%;
    background-color: var(--pcol);
    text-align: center;
    border-radius:var(--bordrad);
    padding: 10px;
}
#reset,#alertbtn{
    background-color:rgb(255, 123, 0);
}
#reset:hover,#alertbtn:hover{
    background-color:rgb(105, 9, 9);
    cursor: pointer;
}
.activeplayer{
    background-color: var(--activecol);
    color: white;
    scale: 1.2;
}
#alert{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    display: none;
}
#alertmsg{
    width: clamp(300px,40vw,500px);
    padding: 20px;
    font-size: 130%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--bordcol);
    border-radius:var(--bordrad);
    padding: 10px;
    text-align: center;
    color: white;
}
#alertmsgtxt{
    padding: 10px;
    margin: 10px;
    font-size: large;
}